section(
  data-menu-title="Introduction"
)
 section(data-timing=30)
  h1 Observable concept
  aside.notes
    p Hello! Today I'd like to talk about Observables and RxJS.
    p I hope everybody knows about it, because this is not an overview talk.
    p Instead, I'll try to help you intuitively understand how RxJS works so you'll feel more comfortable using it.

 section(data-timing=30)
  h2 The plan
  ul.big
    li.fragment Short overview
    li.fragment Rx.Observable structure and flow
    li.fragment Dispel some magic
  aside.notes
    p So, here's what we're going to do
    p Short overview of what is Observable and RxJS to make sure everyone is on the same page.
    p Next we'll look how Rx.Observable looks like in the source code
    p Explain some non-obvious behavior examples
