section(data-timing=60)
  section(data-timing=60)
    h2 RxJS class diagram
    img(src='img/interfaces1.svg')
    aside.notes
      p but, lets start from the beginning
      p There's basic example I copied from RxJS website and there's one suspicious thing.
      p They talk how we're going to emit values from Observable to Observer when we subscribe, but there's something not right there.
      p I'm talking about Subscriber.
      p There's no info about subscriber. Meanwhile, it's technically correct - RxJS doesn't have observers, all of them are converted to Subscribers.
  section(data-timing=60)
    h2 RxJS class diagram v2
    img(src='img/interfaces.svg')
  section(data-timing=60)
    h2 RxJS class diagram
    ul
      li There're 4 main types: #[b Observable], #[b Subscription], #[b Subscriber] and #[b Subject]
      li #[b Observable] is the simplest one - just a container for subscription logic
      li #[b Subscription] is an object with state and it can hold other Subscriptions
      li #[b Subscriber] is the core class of RxJS, it does all the job
      li Subscriber = Subscription + Observer
      li #[b Subject]  is not Observable + Observer, but rather Observable + Subscriber