section(data-timing=60)
  section(data-timing=60)
    h2 RxJS class diagram
    svg.absolute.full
      //rect.fragment.outline.red(style='width: 400px; height: 400px; ')
      rect.outline.fragment.replace-in-out(x=2 y=2 width=560 height=70)
      rect.outline.fragment.replace-in-out(x=620 y=2 width=140 height=110)
      rect.outline.fragment.replace-in-out(x=310 y=310 width=260 height=140)
      rect.outline.fragment.replace-in-out(x=310 y=110 width=260 height=150)
      rect.outline.fragment.replace-in-out(x=2 y=110 width=260 height=130)
      rect.outline.fragment.replace-in-out(x=2 y=310 width=260 height=110)
    img.margin(src='img/interfaces.svg')
    aside.notes
      p but, lets start from the beginning
      p There's basic example I copied from RxJS website and there's one suspicious thing.
      p They talk how we're going to emit values from Observable to Observer when we subscribe, but there's something not right there.
      p I'm talking about Subscriber.
      p There's no info about subscriber. Meanwhile, it's technically correct - RxJS doesn't have observers, all of them are converted to Subscribers.
  //section(data-timing=60)
  //  h2 RxJS class diagram
  //  svg.absolute.full
  //  img(src='img/interfaces.svg')
  section(data-timing=60)
    h2 RxJS class diagram
    p 3 main types:
    ul
      li #[b Observable]: holds stuff
      li #[b Subscription]: Manages unsubscription logic
      li #[b Subscriber]: #[b Subscription] + #[b Observer], it does all the job
      li All of them form "chains"