section
  section(data-menu-title="Overview")
    h2 Observer pattern sequence
    p.sided-no-bg.smaller In the Observer pattern, the #[b subject] maintains a list of its dependents, called #[b observers], and notifies them automatically of any state changes
    +mermaid(w=650 h=400 s=1).
      sequenceDiagram
        participant S as Subject
        participant o1 as Observer 1
        participant o2 as Observer 2

        o1 ->> S: attach()
        activate o1
        o2 ->> S: attach()
        activate o2
        Note over S: something happens
        S ->> o1: notify()
        deactivate o1
        S ->> o2: notify()
        deactivate o2
    aside.notes
      p Here we have basic Observable pattern I copied from wiki.
      p #todo read quote?
      p There's a subject, and two observers. They attach to the subject, then something happens and after that subject notifies them
      p now let's look at Rx flow

  section
    h2 ReactiveX sequence
    +mermaid(w=650 h=400 s=1).
      sequenceDiagram
        participant S as Observable
        participant o1 as Observer 1
        participant o2 as Observer 2

        o1 ->> S: subscribe()
        activate o1
        o2 ->> S: subscribe()
        activate o2
        Note over S: value
        S ->> o1: next()
        deactivate o1
        S ->> o2: next()
        deactivate o2
    aside.notes
      p Here is the Rx flow and as we see - in general, it's the same
      p I omitted complete events and operators, we will get to that later