section
  section(data-menu-title="Overview")
    h2 What is ReactiveX (Rx)
    .sided-no-bg.small ReactiveX is a library for composing asynchronous and event-based programs by using observable sequences.
    table.small
      tr
        th
        th Single
        th Multiple
      tr
        th Synchronous
        td Function#{'<value>'}
        td Iterator#{'<values>'}
      tr
        th Asynchronous
        td Promise#{'<value>'}
        td.red Observables#{'<values>'}
    aside.notes
      p as stated on their website, Rx is a library for composing asynchronous and event-based programs by using observable sequences
      p And these Observable sequences fill the gap of accessing asynchronous sequences of multiple items.
      p They also have this handy table that helps to create right mindset
      p let me explain it