section(data-menu-title='Observables')
  section
    h3 What are Observables?
    .sided-no-bg Observables are the way to organize series of events
    aside.notes
      p Based on the previous slide we may define Observables as "A way to iterate over multiple values by Push approach"
      p but to make more sense, I'd say - Observables are the way to organize series of events
      p Here I like to address one thing: