section(data-menu-title='Observables')
  section
    h3 What are Observables?
    aside.notes
      p Based on the previous slide we may define Observables as "A way to iterate over multiple values by Push approach"
      p but to make more sense, I'd say - Observables are the way to organize series of events
  section
    h3 What are Observables?
    .fragment.sided-no-bg Observable is a representation of any set of values over any amount of time. This is the most basic building block of RxJS
    aside.notes
      p There're several libraries to define what is it, we're going to keep focus on Rx.
      p And in it, Observable is a representation of any set of values over any amount of time.

      p Based on the previous table we may define Observables as "A way to iterate over multiple values by Push approach"
      p but to make more sense, I'd say - Observables are the way to organize series of events 1.
      p Here I'd like to address one thing - many introductions to Rx show this code 2. as example of Rx benefits
      p I think that this is a bit misleading, because there's no real benefit or organisation going on when using Observables just to subscribe for document events
      p If i was writing introduction to observable, I'd give this code as example
      p 3. Yes, it's a bit complicated, but here we have all the main points
      p 4. We actually show that we can map observables
      p 5. Also we show that with observables, we can "Organize multiple events" - if we need keypress event to do two separate things, we can do it easily
      p Let's look at this example live