section(data-menu-title='conclusion')
  section
    h2 Conclusion
    p Now you can:
    ul
      li debug
      li check Operators' source code
      li write your own Operators
      li read docs
  section
    h2 Thanks! You can find this presentation at http://ivan-work.github.io/prxjs
    p sources:
    ul
      li https://github.com/ReactiveX/rxjs/tree/6.x
      li https://rxjs-dev.firebaseapp.com/
      li [ru] https://www.youtube.com/watch?v=7806msvJ1HE - Cool presentation about memory leaks
      li https://medium.com/angular-in-depth