section(data-menu-title='conclusion')
  section
    h2 Conclusion
    p Now you can:
    ul
      li Debug via looking inside Observables and stuff
      li Look into Rx.operators source code without fear
      li Write your own Operators with their own Subscribers
      li Keep sanity while reading docs
  section
    h2 Thanks! You can find this presentation at http://ivan-work.github.io/prxjs
    p sources:
    ul
      li https://github.com/ReactiveX/rxjs/tree/6.x
      li https://rxjs-dev.firebaseapp.com/
      li [ru] https://www.youtube.com/watch?v=7806msvJ1HE - Cool presentation about memory leaks
      li https://medium.com/angular-in-depth