section(
  data-menu-title="Introduction"
)
 section
  h2 What are we going to do
  ul
    li RxJS source overview
    li Dig into RxJS internals source code
    li Some non-obvious behavior explainataion from source code POV