section(
  data-menu-title="Introduction"
)
 section
  h1 What it is for
  ul
    li Help people to understand concept of Observables
    li some RxJS internals
 section
  h1 What are we going to do
  ul
    li overview
    li some RxJS internals