section(
data-menu-title="Advanced Observables"
)
  section
    h2 Obligatory Cold vs Hot
    p cold > hot
    p hot > cold
    p real life examples

  include tasks/share

//include tasks/slot-machine-type.pug

  section
    +js.
      const button = document.querySelector('button');
      button.addEventListener('click', () => console.log('Clicked!'));
    +js.
      var button = document.querySelector('button');
      Rx.Observable.fromEvent(button, 'click').subscribe(() => console.log('Clicked!'));