section(
data-menu-title="Advanced Observables"
)
  section
    h2 Obligatory Cold vs Hot
    p cold > hot
    p hot > cold
    p real life examples

  include tasks/share

include tasks/slot-machine-type