section(
  data-menu-title="Overview"
)
 section
  h2 Concept of observable
  p.sided A representation of any set of values over any amount of time. This is the most basic building block of RxJS.
 section
  h1 what are we going to do
  li overview
  li some RxJS internals