section(
data-menu-title="Overview"
)
  section
    h2 Observable
    p.sided A representation of any set of values over any amount of time. This is the most basic building block of RxJS.
    table.big
      tr
        th
        th SINGLE
        th MULTIPLE
      tr
        th Pull
        td Function
        td Iterator
      tr
        th Push
        td Promise
        td Observable

  section
    h2 Observable class
    +mermaid(w=200 h=200 s=2).
      classDiagram
      class Observable {
         _isScalar: boolean
        source: Observable
        operator: Operator
        constructor ( SubscribeFn )
        lift ( Operator )
        subscribe ( Observer )
        pipe ( Observer )
      }

  section
    +js
      include:escape overview/Observable.ts

  section
    h2 Observable workflow
    +mermaid(w=600 h=300).
      graph TD
      subscribeFn(Subscribe function) ==> createObservable(Observable)
      unsubscribeFn(Unsubscribe function) ==> createObservable(Observable)
      createObservable --> Observer

  section
    h2 Operators
    //+mermaid.
    //  graph LR
    //  style O1 stroke-dasharray: 5, 5
    //  style O2 stroke-dasharray: 5, 5
    //
    //  O1(Observable) ==> op(Operator)
    //  op ==> O2(Observable)
    p lift
    p not pure functions


  section
    h2 .pipe()
    p used to avoid spoiling Observable.prototype.
    +js.
      const pipe = (...mapFunctions) => mapFunctions
        .reduce((observable, mapFunction) => mapFunction(observable));