section
  ul
    li https://www.youtube.com/watch?v=j3Q32brCUAI
    li https://staltz.com/rx-glitches-arent-actually-a-problem.html // glitches
    li https://netbasal.com/understanding-rxjs-multicast-operators-77b3f60af0a2