mixin js
  .pre.javascript
    code
      block

mixin mermaid
  .mermaid(data-width = attributes.w data-height = attributes.h data-scale = attributes.s)
    .mermaid-in
      block
    .mermaid-out

include slides/1Introduction
include slides/2Overview
include slides/PushPull
include slides/3Observable
include slides/tasks/param-pam-pam
include slides/4RxObservable
include slides/observables-advanced