mixin js
  .pre.javascript
    code
      block

mixin code
  .pre
    code
      block

mixin mermaid
  .mermaid(data-width = attributes.w data-height = attributes.h data-scale = attributes.s)
    .mermaid-in
      block
    .mermaid-out

include slides/1Introduction
include slides/2ClassDiagram
include slides/3RxObservable
//include slides/PushPull
//include slides/ObserverPattern
//include slides/tasks/param-pam-pam
//include slides/3Observable
//include slides/tasks/share
include slides/Conclusion
//include slides/observables-advanced